@{
    ViewData["Title"] = "About";
}
<div>
    <div>
        <h1 style="text-align:center">About Page</H1>
        <br />
        <h2>Data Source Credits</h2>
        <p>The data for this website has been provided by the University of Wisconsin’s Public Health Institute, 
            which makes it freely available at https://www.countyhealthrankings.org/ with the understanding that users will acknowledge its contributions.
        </p>
        <p>Characterizations of the site's data can be obtained from the <a href="https://www.countyhealthrankings.org/health-data/methodology-and-sources/rankings-data-documentation"> CHR's download and documentation pages</a>.
           The site associates each year's population data with a PDF- and an XLSX-format data dictionary that describe the semantics of the CHR indicators.
        </p>
        <h2>Development Credits</h2>
        <p>
            The current versions of CHR-DataGrab and CHR-Plot were designed and implemented by ETSU Department of Computing alumni Joshua Trimm and Randall Stapleton under the advisement of Computing professor Dr. Phil Pfeiffer.
        </p>   
        <p> CHR_DataMove, which was contributed by Dr. Pfeiffer, is a supporting script that populates the website's data store with content from the Population Health Institute.
            CHR_DataMove should be installed as a privileged program and run by a trusted admin, in order to assure the integrity of the site's content.
        </p>

        <h2>Client Credits</h2>
        <p>We extend our thanks to our primary client, ETSU’s Dean of College of Public Health, Dr. Randy Wykoff, 
           who bore with this project over the course of five years and three false starts, as well as the CPH’s system administrator, Ms. Dara Young.
        </p>

        <h2>Special Thanks</h2>
        <p>
            We appreciate the preliminary work that went into requirements elicitation by members of the three capstone groups that preceded Josh and Randall’s work, as well as the ongoing support of the ETSU Department of Computing, 
            including the advisement and encouragement of Drs. Brian Bennett and Ghaith Husari, and Professor Stephen Hendrix.
        </p>
    </div>
</div>

@section scripts{

}

