@{
    ViewData["Title"] = "Home Page";
}

<div> 
    <img src="~/Content/Images/chart_example.jpg" alt="Example chart image" id="img-rounded" />
    <a id="create_chart_link" href="../Dashboard/CreateChart">Create Chart</a>
    <br />
    <p>
        This application generates annotated percentile charts of health indicators for the United States and its territories, using data compiled annually by the <a href="https://uwphi.pophealth.wisc.edu">University of Wisconsin's Population Health Institute's </a>
        <a href="https://www.countyhealthrankings.org/">County Health Rankings (CHR) Project</a>. As shown above, these charts pinpoint the locations of user-selected counties and states on charts for more than 700 such indicators.
    </p>
    <span>To get started,</span>
    <ul>
        <li>Select <a href="../Dashboard/CreateChart">Create Chart</a></li>
        <li>From the dropdown menu that appears, select a year.</li>
        <li>From the dropdown menu that then appears, select an indicator.</li>
        <li>In the display that then appears, select the counties to highlight on the chart.</li>
    </ul>
    <p>Additional controls on the 'Create Chart' page allow for the removal of zero and null values from the chart, for saving groups of counties and states to a local file, and for the retrieval of these groups from those files for generating related plots.</p>
    <br />
    <p>
        For more information about the various health indicators, please reference the County Health Rankings (CHR) Project's <a href="https://www.countyhealthrankings.org/sites/default/files/media/document/DataDictionary_2024.pdf">
            Data Dictionary (XLSX) files</a> 
            found on their <a href="https://www.countyhealthrankings.org/health-data/methodology-and-sources/rankings-data-documentation"> Download page.</a>
        </p>
</div>
@section scripts{ 
   
}