@{
    ViewData["Title"] = "Create Chart";
}

<div id="Chart">
    <!--/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Chart and Legend Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
    <div class="row" v-show="displayLegend" id="divLegend" v-cloak>
        <!--Main Chart-->
        <div class="float-container">
            <div class="float-child-chart">
                @*Draw the chart below*@
                <div id="ChartArea" class="col-12"></div>
            </div>
            <!--Legend-->
            <div class="float-legend-div">
                <h5>Location || Percentile</h5>
                <ul v-for="(listItem, index) in legendListItems" class="legendList">
                    <li v-bind:style="{ color: dotColorArray[index]}">{{listItem}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!--/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Control Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
    <div>
        @* The files are named the year that they represent. *@
        <div class="divYear" v-cloak>
            <!--Select year dropdown-->
            <label class="labelYearSelect" for="Year">Year Select</label>
            <select @@change="setChartAttributes($event)" id="Year" name="Year">
                <option value="SelectYear">Select a Year</option>
                @foreach (var file in (string[])ViewData["Files"])
                {
                    <option value="@file">@file</option>
                }
            </select>
        </div>
        <div class="divAttributeFilter" v-cloak>
            <!--Select attribute filter dropdown-->
            <label class="labelAttributeFilter" for="attributeFilter" v-show="displayFilter">Attribute Filter</label>
            <select name="attributeFilter" id="attributeFilter" v-show="displayFilter" v-model="filterSelect">
                <option v-for="(filterItem, index) in filterAttributeOptions" :key="filterItem" :value="filterItem">
                    {{filterItem}}
                </option>
            </select>
        </div>
        <!--Clear Button-->
        <div class="divBtnClear" v-show="displayLegend" v-cloak>
            <button @@click="clearButton()" class="btnClear" v-show="displayLegend">Clear Selection</button>
        </div>
        <!--Save/Load-->
        <div class="divRegionSaveLoad" v-cloak>
            <label class="labelRegionSaveLoad" for="regionSaveLoad" v-show="displayLegend">Save/Load</label>
            <select v-model="regionSaveLoadSelect" v-show="displayLegend" class="regionSaveLoad">
                <option disabled value="">Options</option>
                <option value="SAVE">Save</option>
                <option value="LOAD">Load</option>
            </select>
            <input type="file" @@input="readFile($event)" id="readFile" style="display: none;" accept=".txt" />
        </div>
    </div>

    <!--/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Selection Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-->
    <div class="row" id="SelectRow">
        <!--Select health attribute list-->
        <div class="col-4" v-show="displayHealthAttribute" v-cloak>
            <label class="labelHealthAttrs" for="HealthAttrs">Health Attributes</label>
            <ul @@click="readHealthAttribute($event)" id="HealthAttrs" style="list-style: none; height: 300px" class="form-control overflow-auto">
            </ul>
        </div>
        <!--Select county or state list-->
        <div class="col-4" v-show="displayLegend" v-cloak>
            <label class="labelCounties" for="Counties">Locations</label>
            <ul @@click="readCountyCheckbox($event)" id="Counties" style="list-style: none; height: 300px" class="form-control overflow-auto"></ul>
        </div>
        <!--Anomaly Output-->
        <!--<div class="col-4" v-show="DisplayAggregatePane" v-cloak>
        <label class="labelAnomalies" for="Anomalies">Anomalies</label>
        <ul id="Anomalies" style="list-style: none; height: 300px" class="form-control overflow-auto">
            <li>
                Under Construction
            </li>
        </ul>
    </div>-->
    </div>
    <!--<label for="checkbox">{{ regionSaveLoadSelect }}</label>-->
</div>

@section scripts{
    <script type="module" src="~/js/createChart.js"></script>
}