/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\General Settings/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}


/* Home Page
-------------------------------------------------- */
#create_chart_link {
    font-size: 32pt;
    text-align: center;
    display: block;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Home Page/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
#img-rounded {
    border-radius: 25px;
    border: 3px solid gray;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\CreateChart: Chart and Legend Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.float-child-chart {
    width: 70%;
    float: left;
    border: inset;
}

.float-legend-div {
    width: 30%;
    float: left;
    padding: 20px;
    border: inset;
    height: 100%;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
}

.float-legend-div > * {
    margin-top: -20px;
    margin-left: -15px;
}

.legendList {
    margin: 0;
    padding: 0.2em;
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
}
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\CreateChart: Zero Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.labelZeroList {
    border-style: ridge ridge none ridge;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.divZeroListInner {
    border-style: ridge ridge ridge ridge;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
#zeroList {
    list-style-type: none;
    border: none;
}
    #zeroList > * {
        font-weight: bold;
        margin-left: -10%;
        margin-bottom: -3%;
        color: #525252;
    }
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\CreateChart: Control Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.divYear {
    display: inline-block;
}

.labelYearSelect, Year {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.divAttributeFilter {
    display: inline-block;
    padding-left: 10.5%;
}

.labelAttributeFilter, attributeFilter {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.divBtnClear {
    display: inline-block;
    margin-left: 1.5%;
}

.btnClear {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    border-radius: 30%;
    background-color: silver;
}

.divRegionSaveLoad {
    display: inline-block;
    padding-left: 1.5%;
}

.labelRegionSaveLoad, regionSaveLoad {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/*----------CreateChart: Switch Settings----------*/
/* Switch positional controls */
.showZeroSwtich {
    display: inline-block;
    padding-left: 1.5%;
    width: 13%
}
.labelZeroSwitch {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Switch background appearance */
.slider {
    position: absolute;
    cursor: pointer;
    width: 1010%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15%;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Switch inner dot appearance */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2%;
    bottom: 5%;
    background-color: white;
    -webkit-transition: .8s;
    transition: .8s;
}

/* Swtich clicked logic */
input:checked + .slider {
    background-color: red;
}

/* Swtich focus effect */
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Controls the swtich's range of movement */
input:checked + .slider:before {
    -webkit-transform: translateX(380%);
    -ms-transform: translateX(380%);
    transform: translateX(380%);
}

/* Rounds the sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {      
    border-radius: 50%;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\CreateChart: Selection Section/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.labelHealthAttrs {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1%;
    margin-bottom: -1%;
    border-style: ridge ridge none ridge;
}

.labelCounties {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 1%;
    margin-bottom: -1%;
    border-style: ridge ridge none ridge;
}

#HealthAttrs {
    font-weight: bold;
    margin-left: 0.25%;
}

#Counties {
    font-weight: bold;
    margin-left: 0.25%;
}

#SelectRow {
    margin-top: 1%;
}
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Vue.js Settings/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
[v-cloak] {
    display: none;
}
/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\Loading Spinner/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}